body {
    background-color: #fff;
    font-family: Lora, sans-serif;
    font-size: 25px;
}

.navbar-brand {
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: fff;
}

.nav-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
}

.footer {
    font-size: 1.7rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.intro-img {
    width: 75%;
    transform: rotate(-90deg);
    right: 100px;
}

.intro-text {
    font-weight: lighter;
    color: #fff;
    background-color: rgba(56, 56, 56, 0.911);
    width: 45%;
    margin-top: 350px;
    top: 50px;
    left: 100px;
    position: absolute;
}

.section-heading {
    font-size: 2.7rem;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.btn {
    border-radius: 4px;
    box-shadow: rgba(33, 37, 41, 0.1) 0px 3px 3px 0px;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;

}

.btn:hover {
    transition: background-color 0.15s ease-in-out;
}

.ml-auto {
    margin-left: auto !important;
}

.cta-inner {
    margin-top: 70px;
    border: 6px double black;
    padding: 25px;
    border-radius: 8px;
}



@media screen and (max-width: 992px) {
    .intro-text {
        float: none;
        width: 100%;
        top: auto;
        left: auto;
        position: relative;
        margin-top: 5px;
    }

    .intro-img {
        float: none;
        width: 100%;
        right: auto;
    }
}