body {
    background-color: #fff;
    font-family: Lora, sans-serif;
    font-size: 25px;
}

.navbar-brand {
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: fff;
}

.nav-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
}

.footer {
    font-size: 1.7rem;
}


.intro-img {
    width: 65%;
    float: right;
    transform: rotate(-90deg);
}

.intro .intro-text {
    float: left;
    width: 45%;
    margin-top: 350px;
    position: absolute;
    background-color: rgba(56, 56, 56, 0.911);
    box-sizing: border-box;
    color: #fff;
    font-weight: lighter;
    display: block;
    border-radius: 4px;
    height: 400px;
    line-height: 24px;
    text-align: center;
    padding: 48px;

}

.section-heading {
    font-size: 2.7rem;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.btn {
    background-color: black;
    border-radius: 4px;
    box-shadow: rgba(33, 37, 41, 0.1) 0px 3px 3px 0px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(122, 59, 0);
    border-color: rgb(122, 59, 0);
    transition: background-color 0.15s ease-in-out;
}