{% extends "base.html" %}

{% block content %}
<div>
    <h2 class="section-heading mb-2 text-center"><span class="section-heading-upper">Bookings</span></h2>
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Party Size</th>
                <th scope="col">Confirmed</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in booking_list %}
            <tr>

                <td>{{ booking.name }}</td>
                <td>{{ booking.booked_date }}</td>
                <td>{{ booking.booked_time }}</td>
                <td>{{ booking.party_size }} </td>
                <td>{{ booking.approved }} </td>

            </tr>
            {%endfor %}
        </tbody>
    </table>
</div>


{%endblock%}