{% extends "base.html" %}

{% block content %}
<div>
    <h2 class="mb-2">Bookings</h2>
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Party Size</th>
                <th scope="col">Confirmed</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in booking_list %}
            <tr onclick="showHideRow('hidden_row_-{{ forloop.counter }}');">
                <td>{{ booking.name }}</td>
                <td>{{ booking.booked_date }}</td>
                <td>{{ booking.booked_time }}</td>
                <td>{{ booking.party_size }}</td>
                <td>{{ booking.approved }}</td>
            </tr>
            <tr id="hidden_row_-{{ forloop.counter }}" class="hidden_row" >
                <td>Booked on date: {{ booking.booked_on }}</td>
                <td>Account: {{ booking.account }}</td>
                <td>Extra info: {{ booking.extra_info }}</td>
                <td><a class="btn btn-dark d-inline-block mx-auto p-2" role="button" href="#">Edit</a></td>
                <td><a class="btn btn-dark d-inline-block mx-auto p-2" role="button" href="#">Delete</a></td>
            </tr>
            {%endfor %}
        </tbody>
    </table>
    <a class="btn btn-dark d-inline-block mx-auto" role="button" href="{% url 'add_new_booking' %}">Book a table</a>

</div>


{%endblock%}