{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<div class="tbl">
    <h2 class="mb-2">Bookings</h2>
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Party Size</th>
                <th scope="col">Confirmed</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in booking_list %}

            <tr onclick="showHideRow('hidden_row_-{{ forloop.counter }}');">
                <td>{{ booking.name }}</td>
                <td>{{ booking.booked_date }}</td>
                <td>{{ booking.booked_time }}</td>
                <td>{{ booking.party_size }}</td>
                <td>
                    <form class="d-inline" action="{% url 'confirmation' booking.slug %}" method="POST">
                        {% csrf_token %}
                        {% if booking.approved %}
                             <button type="submit" value="{{ booking.slug }}" class="btn confirm"><i class="fas fa-check-circle"></i></button>
                        {% else %}
                            <button type="submit" value="{{ booking.slug }}" class="btn confirm"><i class="far fa-circle"></i></button>
                        {% endif %}
                    </form>
                    
                    
                </td>
                
            </tr>
            <tr id="hidden_row_-{{ forloop.counter }}" class="hidden_row">
                <td>Booked on date: {{ booking.booked_on }}</td>
                <td>Account: {{ booking.account }}</td>
                <td>Extra info: {{ booking.extra_info }}</td>
                <td><a class="btn btn-dark d-inline-block mx-auto p-2" role="button"
                        href="{% url 'edit' booking.pk %}">Edit</a></td>
                <td><a class="btn btn-dark d-inline-block mx-auto p-2" role="button"
                        href="{% url 'delete' booking.pk %}">Delete</a></td>
            </tr>

            {%endfor %}

        </tbody>
    </table>
    <a class="btn btn-dark mx-auto book-btn" role="button" href="{% url 'add_new_booking' %}">Book a
        table</a>

</div>

{% else %}

<div>
    <h2 class="mb-2">Bookings</h2>
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Party Size</th>
                <th scope="col">Confirmed</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in booking_list %}
            {% if booking.account == user %}

            <tr onclick="showHideRow('hidden_row_-{{ forloop.counter }}');">
                <td>{{ booking.name }}</td>
                <td>{{ booking.booked_date }}</td>
                <td>{{ booking.booked_time }}</td>
                <td>{{ booking.party_size }}</td>
                <td>
                    {% if booking.approved == True %}
                    <span><i class="fas fa-check-circle" style="font-size:30px;color:rgb(20, 151, 3)"></i></span>
                    {% else %}
                    <span><i class="far fa-circle" style="font-size:30px;color:rgb(20, 151, 3)"></i></span>
                    {% endif %}
                </td>
            </tr>
            <tr id="hidden_row_-{{ forloop.counter }}" class="hidden_row">
                <td>Booked on date: {{ booking.booked_on }}</td>
                <td>Account: {{ booking.account }}</td>
                <td>Extra info: {{ booking.extra_info }}</td>
                <td><a class="btn btn-dark d-inline-block mx-auto p-2" role="button"
                        href="{% url 'edit' booking.pk %}">Edit</a></td>
                <td><a class="btn btn-dark d-inline-block mx-auto p-2" role="button"
                        href="{% url 'delete' booking.pk %}">Delete</a></td>
            </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>
    <a class="btn btn-dark mx-auto book-btn" role="button" href="{% url 'add_new_booking' %}">Book a
        table</a>

</div>

{% endif %}
{% endblock %}