{% extends "base.html" %}

{% block content %}
{% load static %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded float-end"
                src="{% static 'images/pexels-vincent-rivaud-3838628.jpg' %}" alt="Picture of breakfast dishes">
        </div>
        <div class="text-center intro-text p-5 rounded bg-faded float-start">
            <h2 class="section-heading mb-4"><span class="section-heading">Welcome to</span>
                <br>
                <span class="section-heading"><strong>The Early Birdie</strong></span>
            </h2>
            <p class="mb-3">Open every day from 6am to 11:30am!</p>
            <p class="mb-5">Come have a breakfast with us!</p>
            <div class="mx-auto intro-button">
                {% if user.is_authenticated %}
                <a class="btn btn-dark d-inline-block mx-auto" role="button" href="{% url 'add_new_booking' %}">Book a
                    table</a>
                {% else %}
                <a class="btn btn-dark d-inline-block mx-auto" role="button" href="{% url 'account_login' %}">Log
                    in to book a table</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<section class="page-section cta"><iframe allowfullscreen="" frameborder="0"
        src="https://maps.google.com/maps?q=london&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%"
        height="400"></iframe></section>


{%endblock%}