
{% extends "base.html" %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="/intro.jpg">
            <div class="text-center intro-text p-5 rounded bg-faded">
                <h2 class="section-heading mb-4"><span class="section-heading-upper">Welcome to</span><span class="section-heading-lower">The Early Birdie</span></h2>
                <p class="mb-3">Come have a breakfast with us!</p>
                <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="#">Log in to book a table</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta"><iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe></section>

{%endblock%}