{% extends "base.html" %}

{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="text-center cta-inner">
                    <h2 class="section-heading mb-5"><span class="section-heading-upper">Menu</span></h2>
                    <ul class="list-unstyled text-left mx-auto mb-5">
                        <li class="d-flex list-unstyled-item">Eggs Benedict<span class="ml-auto">£8.99</span></li>
                        <li class="d-flex list-unstyled-item">Eggs Florentine<span class="ml-auto">£8.99</span></li>
                        <li class="d-flex list-unstyled-item">Eggs Royale<span class="ml-auto">£8.99</span></li>
                        <li class="d-flex list-unstyled-item">Full English Breakfast<span class="ml-auto">£8.99</span>
                        </li>
                        <li class="d-flex list-unstyled-item">Porridge<span class="ml-auto">£8.99</span></li>
                        <li class="d-flex list-unstyled-item">Avocado and Eggs Toast<span class="ml-auto">£8.99</span>
                        </li>
                        <li class="d-flex list-unstyled-item">Avocado and Salmon Toast with Poached Eggs<span
                                class="ml-auto">£8.99</span></li>
                        <li class="d-flex list-unstyled-item">Granola with yoghurt<span class="ml-auto">£8.99</span>
                        </li>
                        <li class="d-flex list-unstyled-item">Pancakes<span class="ml-auto">£8.99</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}